<!-- <script -->
<!--   src="https://kit.fontawesome.com/b832f492fc.js" -->
<!--   crossorigin="anonymous" -->
<!-- ></script> -->

<link rel="stylesheet" href="/static/fonts/css/fontawesome.css" />

<link rel="stylesheet" href="/static/fonts/css/all.css" />

<script src="https://unpkg.com/phosphor-icons"></script>

<script defer src="https://friconix.com/cdn/friconix.js"></script>

<style>
  i[class^="ph-"] {
    font-size: 150%;
    vertical-align: middle;
  }

  .image {
    border-radius: 12px;
  }

  figcaption {
    text-align: center;
    padding: 1% 0%;
    font-size: 90%;
  }

  @media (max-width: 550px) {
    html {
      font-size: 85%;
    }

    .image {
      border-radius: 8px;
    }
  }
</style>

<base target="_blank" rel="noopener" />
